<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="fontawesome.css" rel="stylesheet">
    <link href="css/brands.css" rel="stylesheet">
    <link href="solid.css" rel="stylesheet">
    <link rel="stylesheet" href="aboutus.css">
</head>
  <body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-warning bg-black ">
            <ul class="navbar-nav mr-auto">
              <a class="navbar-brand" href="#"><img width="80px" src="images/advanced-poker-training.png" alt=""></a>
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registration">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
              </li>
              
            </ul>
            
          </div>
        </nav>
      </header>
            <div class="bg ">
                <div class="container ">
                    <div class="row mb-4">
                        <div class="col-lg-5">
                        <h3 class=" font-weight-medium">Our team</h3>
                        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatibus saepe ex quisquam. Vel eius laborum laboriosam dolorem iure, rerum aliquam totam, ut recusandae quaerat perspiciatis eveniet exercitationem? Ex, sed?
                        Est illum, ab enim provident accusamus facere mollitia qui? Repudiandae suscipit, corporis at, voluptate voluptatum quis quod hic magnam ab itaque optio. Qui commodi laborum beatae aperiam repellat libero veritatis?
                        Labore, aliquid blanditiis? Corrupti odit vero aliquid nulla facere quis quae sequi ipsam tempora facilis veniam, consectetur illo aperiam nesciunt quia corporis eum, velit soluta, natus molestiae quas aliquam tenetur.</p>
                        </div>
                    </div>
                
        
        <div class="row text-center">

        <div class="col-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/richard.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Richard Zhang</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <p class="bio-desc text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><img src="images/facebook.svg" class="social-link"alt=""><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><img src="images/github.svg" class="social-link"><i class="fa fa-github"></i></img></li>
                <li class="list-inline-item"><img src="images/google.svg" class="social-link"><i class="fa fa-google"></i></img></li>
                <li class="list-inline-item"><img src="images/linkedin.svg" class="social-link"><i class="fa fa-linkedin"></i></img></li>
              </ul>
            </div>
          </div>
          <div class="col-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/foorkan.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Foorkan Shabbir</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <p class="bio-desc text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><img src="images/facebook.svg" class="social-link"alt=""><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><img src="images/github.svg" class="social-link"><i class="fa fa-github"></i></img></li>
                <li class="list-inline-item"><img src="images/google.svg" class="social-link"><i class="fa fa-google"></i></img></li>
                <li class="list-inline-item"><img src="images/linkedin.svg" class="social-link"><i class="fa fa-linkedin"></i></img></li>
              </ul>
            </div>
          </div>

          <div class="col-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/diegofinal.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Diego Rivera</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <p class="bio-desc text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><img src="images/facebook.svg" class="social-link"alt=""><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><img src="images/github.svg" class="social-link"><i class="fa fa-github"></i></img></li>
                <li class="list-inline-item"><img src="images/google.svg" class="social-link"><i class="fa fa-google"></i></img></li>
                <li class="list-inline-item"><img src="images/linkedin.svg" class="social-link"><i class="fa fa-linkedin"></i></img></li>
              </ul>
            </div>
          </div>
          
        </div>
    </div>
  </div>

  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights Comeback Poker.com All rights reserved.</p>
    </div>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>