<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Log in</title>
    <link rel = "stylesheet" type = "text/css" href = "/login.css"> 
</head>
    <body>
        <div class = "loginbox" >   
        
        <img src = "avatar.png" class = "avatar">
            
            <h1>log in here </h1>
            
            <form action = "/login" method="POST" >
                
                <p>Username</p>
                
                <input id = "name" type = "text" name = "" placeholder= "enter username">
                
                <p>Password</p>
                
                <input id = "password" type = "password" name = "" placeholder = "enter password">
                
                <input type = "submit" name = "" value= "login">
                
                <a href = "#">lost your password?<a/> <br>
                
                <a href = "#">Don't have a account?<a/>
                


            </form>
        
    </div>  
</body>

<script src = "routes/login.js"></script>
</html>
